version: "3.0"
services:
  elasticsearch:
    container_name: elk-container
    image: docker.elastic.co/elasticsearch/elasticsearch:7.16.2
    restart: always
    environment:
      - xpack.security.enabled=false
      - "discovery.type=single-node"
    volumes:
      - /home/vagrant/app/elastic/data:/usr/share/elasticsearch/data
      - /home/vagrant/app/logs/elastic:/usr/share/elasticsearch/logs
      - /home/vagrant/app/elastic/config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml

    ports:
      - 9200:9200  
      - 9300:9300

  kibana:
    container_name: kibana-container
    image: docker.elastic.co/kibana/kibana:7.16.2
    environment:
      - ELASTICSEARCH_HOSTS=http://elk-container:9200
    volumes:
      - /home/vagrant/app/logs/kibana:/var/run/log
      #-/home/vagrant/app/elastic/kibana/kibana.yml:/usr/share/kibana/config/kibana.yml
    depends_on:
      - elasticsearch
    ports:
      - 5601:5601

